@{
    ViewData["Title"] = "Home Page";
}


<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <h1>
                <img src="~/assets/img/FVBG.png" style="height: 3rem; width: 3rem;">
                <a href="#" class="text-dark">Flying V</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>


        <div class="header-social-links d-flex align-items-center">
            <a href="https://twitter.com/FLYINGV_PH" target="_blank" class="twitter text-dark"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/FlyingVPetroleum/" target="_blank" class="facebook text-dark"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/officialflyingv/" target="_blank" class="instagram text-dark"><i class="bi bi-instagram"></i></a>
            <a href="https://www.tiktok.com/officialflyingv" target="_blank" class="linkedin text-dark"><i class="bi bi-tiktok"></i></i></a>
        </div>

    </div>
</header><!-- End Header -->



<main id="main" class="">

    <!-- ======= What We Do Section ======= -->


    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/FATHERSDAY.png" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/MothersDay.png" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/kalayaan.png" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row portfolio-container">

                        <div class="col-md-6 portfolio-item filter-app wow fadeInUp">
                            <div class="portfolio-wrap">
                                <figure>
                                    <a href="https://pmr.flyingv.com.ph/Identity/Account/Login?ReturnUrl=%2F" target="_blank">
                                        <img src="~/assets/img/PMR.jpg" class="img-fluid" alt="">
                                    </a>
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <a href="https://pmr.flyingv.com.ph/Identity/Account/Login?ReturnUrl=%2F" target="_blank">
                                        <img src="~/assets/img/VMR.jpg" class="img-fluid" alt="">
                                    </a>
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <a href="https://cstm.flyingv.com.ph/" target="_blank">
                                        <img src="~/assets/img/CSTM.jpg" class="img-fluid" alt="">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->




</main><!-- End #main -->
